<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Discord Scratch</title>
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <meta name="description" content="A web site to make discord bots with scratch.">
        <meta name="author" content="Clément Songis">
        <meta name="application-name" content="Discord Scratch">
        <meta name="theme-color" content="#cce1fc">
        <meta name="color-scheme" content="only light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index">
        <meta name="keywords" content="discord,scratch,bot">
        <link rel="stylesheet" href="/css/account.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://kit.fontawesome.com/740353a2ba.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <%- include('../templates/header', {isEditor: false}) %>
        <div class="new-div">
            <button class="new-button" onclick="document.getElementById('create-div').style.display = 'block';">New Project</button>
        </div>
        <div id="create-div" style="display: none;">
            <h2>Create a project</h2>
            <label for="create-project-name">Name</label><br>
            <input type="text" name="create-project-name" placeholder="Untitled" autofocus><br>
            <button class="new-button" onclick="document.location.href = '/advanced_editor/?name=' + document.getElementsByName('create-project-name')[0].value;/* simple_editor */">Create</button>
            <button class="create-cancel-button" onclick="document.getElementById('create-div').style.display = 'none';">Cancel</button>
        </div>
        <section id="projects" <% if (Object.keys(projects).length === 0) { %>style="display: block;"<% }else{ %>style="display: flex;"<% } %>>
            <% for(var projectName in projects) { %>
                <div class="project-button" projectName="<%= projectName %>" onclick="document.location.href = '/advanced_editor/?name=<%= projectName %>'/* simple_editor */">
                    <div class="project-img"><img src="/assets/images/project.png" alt=""></div>
                    <div class="project-button-name"><%= projectName %></div>
                    <button class="project-delete-button" onclick="event.stopPropagation();socket.emit('deleteProject', '<%= projectName %>');"><img src="/assets/images/trash.svg" alt=""></button>
                </div>
            <% } %>
            <% if (Object.keys(projects).length === 0) { %>
                <h2>Create a new project to start making cool discord bot !</h2>
                <img src="/assets/images/bot.svg" alt="Bot" style="padding-top: 50px;">
            <% } %>
        </section>
        <div id="context-menu" style="display: none;">
            <button class="context-button" id="duplicate">Dupliquer</button>
            <button class="context-button" id="delete">Supprimer</button>
        </div>
        <script>
            var socket = io();
            socket.on('projects', function(projects, socketID){
                if (socketID === socket.id) {
                    var html = "";
                    for (var projectName in projects) {
                        html += '<div class="project-button" projectName="' + projectName + '" onclick="document.location.href = \'/advanced_editor/?name=' + projectName + '\'/* simple_editor */"><div class="project-img"><img src="/assets/images/project.png" alt=""></div><div class="project-button-name">' + projectName + '</div><button class="project-delete-button" onclick="event.stopPropagation();socket.emit(\'deleteProject\', \'' + projectName + '\');"><img src="/assets/images/trash.svg" alt=""></button></div>';
                    }
                    if (html !== "") {
                        document.getElementById("projects").style.display = "flex";
                        document.getElementById("projects").innerHTML = html;
                    }else{
                        document.getElementById("projects").style.display = "block";
                        document.getElementById("projects").innerHTML = '<h2>Create a new project to start making cool discord bot !</h2><img src="/assets/images/bot.svg" alt="Bot" style="padding-top: 50px;">';
                    }
                    for (i = 0; i < document.getElementsByClassName("project-button").length; i++) {
                        const button = document.getElementsByClassName("project-button")[i];
                        button.addEventListener('contextmenu', e => {
                            e.preventDefault();
                            contextProjectName = button.getAttribute("projectName");
                            menu.style.display = "block";
                            if ((window.innerWidth - e.pageX) < (menu.offsetWidth + 4)) {
                                menu.style.left = window.innerWidth - (menu.offsetWidth + 4) + "px";
                            } else {
                                menu.style.left = e.pageX + "px";
                            }
                            if ((window.innerHeight - e.pageY) < (menu.offsetHeight + 4)) {
                                menu.style.top = window.innerHeight - (menu.offsetHeight + 4) + "px";
                            } else {
                                menu.style.top = e.pageY + "px";
                            }
                            return false;
                        });
                    }
                }
            });
            for (i = 0; i < document.getElementsByClassName("project-button").length; i++) {
                const button = document.getElementsByClassName("project-button")[i];
                button.addEventListener('contextmenu', e => {
                    e.preventDefault();
                    contextProjectName = button.getAttribute("projectName");
                    menu.style.display = "block";
                    if ((window.innerWidth - e.pageX) < (menu.offsetWidth + 4)) {
                        menu.style.left = window.innerWidth - (menu.offsetWidth + 4) + "px";
                    } else {
                        menu.style.left = e.pageX + "px";
                    }
                    if ((window.innerHeight - e.pageY) < (menu.offsetHeight + 4)) {
                        menu.style.top = window.innerHeight - (menu.offsetHeight + 4) + "px";
                    } else {
                        menu.style.top = e.pageY + "px";
                    }
                    return false;
                });
            }
            var contextProjectName = "";
            var menu = document.getElementById('context-menu');
            window.addEventListener("click", e => {
                if (menu.style.display === "block") menu.style.display = "none";
            });
            document.getElementById("duplicate").addEventListener("click", function () {
                socket.emit("duplicateProject", contextProjectName);
            });
            document.getElementById("delete").addEventListener("click", function () {
                socket.emit("deleteProject", contextProjectName);
            });
        </script>
    </body>
</html>
